body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(20, 0fr);
    gap: 0px;
}

.cell {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: transform 0.2s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.cell:active {
    transform: scale(0.9);
}

.cell.x {
    color: #ff7f7f;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.cell.o {
    color: #7878ff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

@keyframes blink {
    0% {
        background-color: #ffff99;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #ffff99;
    }
}

.cell.highlight {
    animation: blink 0.3s linear;
}

.form-container {
    /*display: inline-block;*/
    /* Hiển thị các form cùng một hàng */
    margin: 4px;
    border-color: transparent;
    background-color: transparent;
    /* Màu nền mới cho form */
    border-radius: 5px;
    /* Bo góc cho form */
    padding: 10px;
    /* Khoảng cách từ nội dung form đến viền form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Bóng đổ cho form */
}

.form-container input {
    border-radius: 4px;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    height: 25px;
    margin-right: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

#create-room-form {
    background-color: transparent;
}

#join-room-form {
    background-color: transparent;
}

#current-room-container {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.frame-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-room {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    /* Loại bỏ margin mặc định của thẻ <p> */
}

#leave-room-button {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: inline-block;
}

#leave-room-button:hover {
    background-color: #c82333;
}