#board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(20, 0fr);
    gap: 0px;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.cell.x {
    color: #ff0000;
    font-family: 'Arial', sans-serif;
}

.cell.o {
    color: #0000ff;
    font-family: 'Arial', sans-serif;
}

@keyframes blink {
    0% {
        background-color: #ffff99;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #ffff99;
    }
}

.cell.highlight {
    animation: blink 0.3s linear;
}

.form-container {
    margin: 4px;
}

.form-container input {
    border-radius: 4px;
    border-color: gray;
    border-width: 1px;
    height: 25px;
    margin-right: 4px;
}

.form-container button[type="submit"] {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}


/* Specific styles for create-room-form */

#create-room-form {
    background-color: #ffffff;
}

#create-room-code {
    placeholder: "Tạo mã phòng";
}

#join-room-form {
    background-color: #ffffff;
}

#join-room-code {
    placeholder: "Mã phòng";
}