#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#game-board div {
    height: 60px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}