.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button {
    background-color: #49a24c;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 300px;
    /* Set a specific width for all buttons */
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}