<!DOCTYPE html>
<html>
<head>
    <title>Caro Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-caro.css') }}">
</head>
<body>
  <div class="form-container">
    <form id="create-room-form">
        <input type="text" id="create-room-code" placeholder="Room code">
        <button type="submit">Create room</button>
    </form>
  </div>
  <div class="form-container">
    <form id="join-room-form">
        <input type="text" id="join-room-code" placeholder="Room code">
        <button type="submit">Join room</button>
    </form>
  </div>
    
    <p id="player-count">Số người chơi: 0</p>
    <p id="player-info">Đang chờ đủ 2 người chơi</p>
    <!--Cập nhật trạng thái game-->
    <div id="status"></div>
    <div id="board">
    </div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/caro-onl.js') }}"></script>
